body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.main-header {
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: fixed;
}
